:root {
    --background-gray: rgb(219, 218, 217);
    --box-darker-gray: rgb(190, 189, 188);
    --sender-color: rgb(91, 87, 83);
    --message-body-color: rgb(91, 87, 83);
    /* #eeeeee52 */
}

#MainContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    /* font-size: 30px; */
}

#LeftPaneContainer {
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
    color: rgb(71, 67, 63);
    background: var(--background-gray);
    display: flex;
    flex-flow: column;
    width: 25%;
    /* height: 100vh; */
}

#MidPaneContainer {
    display: inline-block;
    display: flex;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
    color: rgb(71, 67, 63);
    width: 50%;
    height: 100vh;
    background: var(--background-gray);
    border-left: 2px solid rgba(71, 67, 63, 0.3);
    border-right: 2px solid rgba(71, 67, 63, 0.3);
    flex-flow: column;
}

#RightPaneContainer {
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
    color: rgb(71, 67, 63);
    width: 25%;
    height: 100vh;
    background: var(--background-gray);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#LeftTopBarContainer {
    background: var(--background-gray);
    display: flex;
    height: 80px;
    flex-direction: row;
    flex: 0 0 auto;
    align-content: center;
    margin-right: 5px;
}

.LeftTopBarElement {
    /* width: 100px; */
    flex-basis: 100%;
    flex: 0 0 0px;
    /* width: 200px; */
    text-align: center;
    margin: auto;
    /* background-color: white; */
}

.logo-icon {
    font-size: 25px;
    cursor: pointer;
}

#AppNameUser {
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* border: 2px dashed #f69c55; */
    font-size: 25px;
    font-weight:750;
}

.Left-search-input {
    font-size: 14px;
    width: calc(100% - 25px);
    height: calc(11% - 20px);
    background: rgb(245, 245, 245);
    border: 0;
    border-radius: 8px;
    outline: 0;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
}


#LeftListOfChatRoom {
    display: inline-block;
    *display: inline;
    overflow-y: auto;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
    width: 100%;
    height: 30%;
    flex: 1 1 auto;
    /* background:; */
}

.LeftIndividualChatRoom {
    height: 70px;
    /* border: 5px solid yellow; */
    /* border-radius: 15px; */
    margin: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background: var(--background-gray);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    /* opacity: 80%; */
    padding: 15px;
}

.LeftIndividualChatRoom:hover {
    /* border: 5px solid yellow; */
    background: rgba(190, 189, 188, 0.5);
    border-radius: 8px;
}

.LeftIndividualChatRoom.selected {
    background: rgb(190, 189, 188);
    border-radius: 8px;
    /* opacity: 100%; */
    /* border: 2px solid black;
    margin: 3px; */
    /* border-width: 2px; */
}

.Chat_title_container {
    height: calc(15% - 20px);
    background: none;
    border-radius: 10px;
    margin: 10px;
    padding: 18px;
    box-sizing: border-box;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.rename_button {
    font-size: 5vh;
    flex: 0 0 20%;
}
.rename_button:hover {
    color: rgb(159, 178, 189);
    /*transition: color 0.1s ease-out;*/
}

.Chat_title {
    font-size: 5vh;
    font-weight: 600;
    width: 25px;
    flex: 0 0 95%;
}

.Chat-messages {
    font-size: 20px;
    color: rgb(245,245,245);
    height: calc(70% - 20px);
    background: var(--box-darker-gray);
    background-clip: padding-box;
    border-radius: 8px;
    margin: 8px 8px 4px 8px;
    padding: 18px;
    box-sizing: border-box;
    overflow-y: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.Chat-input {
    font-size: 14px;
    width: calc(100% - 20px);
    max-height: calc(25% - 20px);
    min-height: calc(15% - 20px);
    background: rgb(245, 245, 245);
    border: 0;
    border-radius: 8px;
    outline: 0;
    margin: 4px 8px 8px 8px;
    padding: 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    resize: none;
}

.Chat-message {
    font-size: 14px;
    display: flex;
    width: 70%;
    margin-top: 10px;
    flex: 0 1 auto;
}

.Chat-message.left {
    flex-direction: row;
    float: left;
    margin-right: auto;
}

.Chat-message.right {
    flex-direction: row-reverse;
    float: right;
    margin-left: auto;
}

.Chat-message-body {
    background-color: var(--message-body-color);
    flex: 0 1 90%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 10px;
}

.Chat-message-sender {
    background-color: var(--sender-color);
    flex: 0 1 20%;
    height: 30px;
    width: 20%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 0px;
    text-align: center;
}

.Chatroom-list-title {
    font-size: 25px;
    font-weight: 600;
    height: 50%;
}

.Chatroom-list-content {
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.Chatroom-list-sender {
    flex: 0 0 25%;
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Chatroom-list-message {
    /* flex: 0 1 60%; */
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}

.Chatroom-list-time {
    padding-left: 12px;
    flex: 0 0 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* background-color: white; */
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--message-body-color);
    -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
}

.button_container {
    flex: 0 0 5%;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_pane_button {
    background-color: var(--message-body-color);
    border: 10px;
    padding: 5px;
    width: 70%;
    text-align: center;
    border: 10px solid rgb(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(245, 245, 245);
    cursor: pointer;
}
.right_pane_button:hover {
    background-color: rgb(159, 178, 189);
    /*transition: background-color 0.1s ease-out;*/
    cursor: pointer;
}

.offset_5 {
    flex: 0 0 5%;
}

.right_people_list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background: white; */
    font-size: 18px;
    color:rgb(71, 67, 63);
}

.right_person {
    background-color: var(--box-darker-gray);
    margin: 4px;
    border: 0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    flex: 0 0 0%;
}

.right-member-input {
    font-size: 14px;
    width: calc(100% - 25px);
    height: calc(11% - 20px);
    background: rgb(245, 245, 245);
    border-radius: 4px;
    border: 0;
    outline: 0;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 70%;
}

.add-new-member-container {
    display: flex;
    flex-direction: row;
}

.add-member-button {
    background: var(--message-body-color);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    color: rgb(245, 245, 245);
    height: calc(85% - 20px);
    margin: 5px;
    flex: 0 0 auto;
}

.add-member-button:hover {
    background-color: rgb(159, 178, 189);
    /*transition: background-color 0.1s ease-out;*/
    cursor: pointer;
}
